.App {
    float: left;
    height: 100%;
    width: 100%;
    text-align: center;
    font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif; ;
    color: #F1F2EE;
  }