.todoForm {
    position: fixed;
    bottom: 60px;
    margin-left: 7.8%;
}

::placeholder {
    color: rgba(241,242,238, 50%);
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

input[type=text] {
    width: 100%;
    color: #F1F2EE;
    padding: 5px;
    font-size: 65px;
    border-bottom: 4px solid #C6426E;
}