li {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 20px;
    font-weight: 100;
    margin-left: 10px;
    margin-bottom: 5px;
    transition: all 0.25s ease;
}

li:hover {
    cursor: pointer;
}

li .delete-button {
   transition: all 0.25s ease;

}

li:hover .delete-button {
    transition: all 0.25s ease;
    color: #F1F2EE;
}

.delete-button {
    color: transparent;
}

.todo-completed .circle, .todo-pending .circle {
    transition: all 0.25s ease;
}

.todo-completed div {
    background: #F1F2EE;
}


.todo-pending:hover .circle {
    transition: all 0.25s ease;
    background: #F1F2EE;
}

.todo-completed:hover .circle {
    transition: all 0.25s ease;
    background: transparent;
}

.delete-button {
    font-size: 15px;
    margin-left: 10px;
    vertical-align: middle;
}

.delete-button:hover {
    transition: all 0.25s ease;
    font-size: 25px;
}