* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	text-decoration: none;
	vertical-align: baseline;
	background: transparent;
}

.topLevel {
	display: flex;
	justify-content: space-between;
}

h1 {
	font-size: 65px;
	margin-top: 50px;
	margin-bottom: 68px;
}

h3 {
	font-size: 30px;
	margin-bottom: 10px;
}

.pending {
	margin-left: 10%;
	text-align: left;
}

.compOrArch {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	margin-right: 20%;
}

.category {
	display: flex;
	justify-content: flex-start;
}

button {
	align-self: flex-end;
	margin-right: 20px;
	margin-bottom: 20px;
	outline:none;
	height: 45px;
	text-align: center;
	width: 200px;
	border-radius:40px;
	background: transparent;
	border: 2px solid #F1F2EE;
	color:#F1F2EE;
	letter-spacing:1px;
	text-shadow:0;
	font-size: 20px;
	transition: all 0.25s ease;
}

.selected {
	color: #C6426E;
	background: #F1F2EE;
}

button:hover{
	cursor: pointer;
	color: #C6426E;
	background: #F1F2EE;
}